[2020-07-01 01:03] khoiminhpham opened #1 "@ Tools/Design and Experiment: Naive users experienced difficulties in knowing what to do next, from this stage."
From Dr. Kaizman:
"I clicked on Tools | Design and Experiment and it brings up a blank canvas with no obvious means of interaction.  Dead end.  So I went back to watch the video."

Solution: we can guide naive users through this with more instructional message. I recalled Ahmet placed a similar comment before.

[2020-07-01 01:09] khoiminhpham opened #2 "@ Tools/Tool menu: Check box doesn't do anything."
From Dr. Kaizman:
"I tried out the Tools | Tools menu item.  It brings up a list of tools, programming languages, etc.  I click on checkboxes and nothing happens."

Solution: This is supposed to be a filter for components list, currently our tool components dataset is empty, we will have further update on this.

[2020-07-01 01:18] khoiminhpham opened #3 "Components' names: unclear, need to be renamed"
From Mehdi:
"Right now the components are organized based on the parent tool, but we need to organize them based on their core functionality (Reverse Engineering, Analysis, Fact Extractor, etc.).
Also the naming are not very informative (eg. AcdcWithSmellDetection, or BatchEvoSystem, ACDC)."

Solutions: We're collecting naming ideas here, if you have any good name for any component available in SA

[2020-07-01 09:59] Ibrahimvse commented on #2
We are Modifying tool schema in the database (adding more details when uploading new tool). that bug will be fixed after finishing this part and update the database to match the new schema since the current schema has only basic information we need to add more information about tools.

[2020-10-08 14:59] aokutan opened #4 "Sharing the status of a process with users"
When an experiment is run, the system should inform the user about each step/stage completed, and the overall progress/status of the back-end processes. When a component is done or in case of any type of error, the user should be informed. When the process is done, the user should be notified about where he/she can find the output generated. The colors of the components could be changed depending

[2020-11-09 22:30] jgarci40 opened #5 "Dependency Builder for Java in the Tool Integrator has a different name than on the SAIN Tools page"
https://www.dropbox.com/s/1jt6q1ud59vwu6j/Screen%20Shot%202020-11-09%20at%202.29.16%20PM.png?dl=0
says "Dependency Builder Java"

http://sain.usc.edu/tools/componentdetails/5f806d25a948c12fd0198b77
says "JavaDepsBuilder"

[2020-11-09 22:33] jgarci40 opened #6 "Dependency Builder for Java in Tool Integrator throws a InvocationTargetException"
https://www.dropbox.com/s/svsqj7jgzcgn7qx/struts-2.3.30.zip?dl=0

![Screen Shot 2020-11-09 at 2 27 02 PM](https://user-images.githubusercontent.com/8866794/98604461-8e238d00-2298-11eb-8412-130f0cae0bc4.png)

[2020-11-09 23:02] jgarci40 opened #7 "BatchClusteringEngine should not require pipe or mallet files as input"
The following error message pops up:

https://www.dropbox.com/s/n45vgvboilfqy77/Screen%20Shot%202020-11-09%20at%203.00.53%20PM.png?dl=0

In fact, the pipe files should not be an input to BatchClusteringEngine. The ARCADE manual should be updated accordingly.

[2020-11-09 23:45] jgarci40 opened #8 "BatchClusteringEngine: Experiment won't run and gives no error message"
Experiment won't run and gives no error message

SAIN JSON Experiment Template:
https://www.dropbox.com/s/i644hrab8scxr8v/batchclusteringengine.json?dl=0

This is the zip file I used as input:
https://www.dropbox.com/s/gwjqj86owoph7pc/struts_src_bin_dirs.zip?dl=0

[2020-12-09 17:49] aokutan opened #9 "We need a "Forgot My Password" feature on the login page."

[2021-01-08 09:15] #5 closed

[2021-01-08 09:16] Ibrahimvse commented on #5
solved

[2021-01-08 13:00] Ibrahimvse commented on #2
Solved

[2021-01-08 13:00] #2 closed

[2021-01-08 13:01] #7 closed

[2021-01-08 13:01] Ibrahimvse commented on #7
solved, They are implicitly required. The Batch Clustering Engine required mallet file and pipe file to be exist inside 'base' directory inside output directory of batch clustering engine

[2021-01-08 13:05] Ibrahimvse commented on #3
Solved, the names are now as an author suggest

[2021-01-08 13:05] #3 closed

[2021-01-08 13:11] Ibrahimvse commented on #1
This issue solved by adding dependency graph of component.  The user can click on (i) button it will show a pop-up layout with two parts . first the details of the component and second he can view the dependency graph of the component that show all components that can be used as an input of this component with exact port that can be connected to this component. It also show all components that can

[2021-01-08 13:24] #1 closed

[2021-01-08 13:26] Ibrahimvse commented on #4
done!

[2021-01-08 13:26] #4 closed

[2021-03-08 22:39] jgarci40 opened #10 "Account Page Says Under Development"
I think we should have some account details showing in that section for each individual user soon.

[2021-03-08 22:39] jgarci40 opened #11 "Research drop down menu doesn't seem to do anything"
Please see the title

[2021-03-08 22:41] jgarci40 opened #12 "Rename all instance of "Sain" to "SAIN""
This also includes the SAIN logo.

[2021-03-08 22:42] jgarci40 opened #13 ""Datasets -> Something else here" menu item should go away"
We don't need this menu item, right?

[2021-03-08 22:57] jgarci40 opened #14 "All SAIN PIs/Professors Need Admin Access"
Please see the title.

[2021-03-08 23:03] jgarci40 opened #15 "Please add the following ground-truth architectures to the SAIN datasets"
Please add the following ground-truth architectures for individual versions of Apache Hadoop, Bash (Bourne Again Shell), Apache OODT, and ArchStudio: https://softarch.usc.edu/wiki/doku.php?id=recoveries:start

Please add the associated source code of these versions of Hadoop, Bash, OODT, and ArchStudio to the SAIN datasets as well.

[2021-03-08 23:17] jgarci40 opened #16 "Smell Detector Sample Project Seems Incomplete"
https://www.dropbox.com/s/846y9eo21w30grd/Screen%20Shot%202021-03-08%20at%203.16.55%20PM.png?dl=0

As you can see in the screenshot, the smell detector sample project in the tool integrator seems to be incomplete. The components aren't even connected.

[2021-03-08 23:18] jgarci40 opened #17 "Add Projects Used in the ICSA 2021 SAIN paper as SAIN datasets"
This includes Hadoop 2.5.0 and whatever version of Mage we used.

[2021-03-08 23:20] jgarci40 opened #18 "Replicable experiments from SAIN paper"
Can we add Sample Projects or experimental templates to the SAIN tool integrator to match the experiments we talk about in the ICSA SAIN paper as much as possible?

[2021-03-08 23:25] jgarci40 commented on #15
Please add the following ground-truth architectures and associated source code as well: https://www.cs.purdue.edu/homes/lintan/ArchRecovery/

[2021-03-09 04:41] jgarci40 opened #19 "BatchClusteringEngine should not require .mallet or .pipe files in tool integrator"
BatchClusteringEngine generates topic models without having to take as input an external .mallet or .pipe file, unless you possibly want to create the same topic model for all versions of a system. We should modify the BatchClusteringEngine to support this kind of behavior.

For instance, if you view the main() method of BatchClusteringEngine, you'll see that it only requires three inputs: the dir

[2021-03-09 04:42] YuqiHuai opened #20 "SAIN editor became upside down"
<img width="1389" alt="Screen Shot 2021-03-09 at 12 26 55 PM" src="https://user-images.githubusercontent.com/34195403/110419380-2e1ce600-80d4-11eb-8314-bfb32a8d0f75.png">

SAIN editor became up-side-down.

I am not sure what I did exactly, I zoomed out and then zoomed in before the issue occurred. The buttons on the top for zoom-in/ zoom-out also became reversed.

[2021-03-09 20:07] khoiminhpham commented on #6
class path should start from root folder Sempai @jgarci40 .
In your case it should be: "struts-2.3.30/lib_struts"
I retried and it worked properly:
https://photos.app.goo.gl/cwAi4YW3R8Zkmcqb9

If it also works for you now, can you please close this ticket issue, thanks.

[2021-03-09 20:11] jgarci40 commented on #6
Thanks, @khoiminhpham!

[2021-03-09 20:11] #6 closed

[2021-03-09 22:56] khoiminhpham commented on #19
In my experiment, those files existence are required for each output test case Sempai Josh,
https://photos.app.goo.gl/BUHFDFcXDp2xpGPf8
https://photos.app.goo.gl/83pjxNCGAx7DRprX9
Unless we want to automatically add them to each user's output directory per related experiment they about to perform, but that exceptional process-builder will violate Ibrahim's process-builder auto-generating design.

[2021-03-10 21:32] khoiminhpham commented on #12
I've changed everything 'Sain' to 'SAIN', Sempai @jgarci40 . Thanks.

[2021-03-10 22:12] jgarci40 commented on #12
Thanks, @khoiminhpham. @Ibrahimvse @khoiminhpham The tutorials still refer to "Sain" rather than "SAIN".

[2021-03-10 22:13] jgarci40 opened #21 "Empty Test Articles With No Author"
The tutorials page has some empty test articles with no author.

[2021-03-11 00:01] jgarci40 commented on #19
Please try the prediction branch of the main arcade repo (not arcadepy). @khoiminhpham

[2021-03-11 12:27] Ibrahimvse commented on #19
@jgarci40 BatchClusteringEngine require both mallet and pipe file to be existed inside output folder of BatchClusteringEngine engine and since the user run experiment remotely he don't have ability to write these files in the output directory manually so we automate the process by let the user to upload these files and sain take care of the rest.

[2021-03-11 12:50] Ibrahimvse commented on #21
deleted

[2021-03-11 12:50] #21 closed

[2021-03-11 12:52] Ibrahimvse commented on #20
I never had this issue!! please write the exact steps that you did and get this issue!!

[2021-03-11 12:54] Ibrahimvse commented on #16
I could connected them successfully with no issues!

[2021-03-11 13:57] Ibrahimvse commented on #9
implemmented

[2021-03-11 13:57] #9 closed

[2021-03-11 13:59] Ibrahimvse commented on #11
removed for now!

[2021-03-11 13:59] #11 closed

[2021-03-11 14:04] Ibrahimvse commented on #13
fixed

[2021-03-11 14:04] #13 closed

[2021-03-11 14:09] Ibrahimvse commented on #14
I give admin permission to Khoi, Joshua and Mehdi . Other PIs I could not find their names in the users list. Anyone need admin access from PIs can just send to me his registered name or email address

[2021-03-11 14:09] #14 closed

[2021-03-11 18:32] jgarci40 commented on #16
Since it's a sample project, why are they not already connected?

[2021-03-11 18:36] Ibrahimvse commented on #16
because this sample was created long time ago and the blocks data were updated but the changes was not reflected in the old samples. so simply I will remove it and recreate it again

[2021-03-11 18:38] jgarci40 commented on #19
@Ibrahimvse @khoiminhpham It's still way easier for a user to not even have to be aware of mallet or pipe files, and we want to make this process as easy for the user as possible. That's why we should include a version of BatchClusteringEngine that does not require them. We don't have to remove the current BatchClusteringEngine, but we really should add the version that does not require users to p

[2021-03-11 19:13] Ibrahimvse commented on #19
@jgarci40 I dont know and have access to that branch. I just Used the tools that khoi sent it to me. In this case mallet and pipeextracteor should be removed from the tool's list right?

[2021-03-11 19:13] Ibrahimvse commented on #16
fixed!

[2021-03-11 19:13] #16 closed

[2021-03-11 19:17] jgarci40 commented on #19
@Ibrahimvse @khoiminhpham Let's give the BatchClusteringEngine from the prediction branch another name. How about BatchClusteringEngineSimple?

Also, are you sure you can't access this? https://bitbucket.org/joshuaga/arcade/src/prediction/

[2021-03-11 20:11] khoiminhpham commented on #12
I just changed that as well, thank you Sempai @jgarci40

[2021-03-12 00:07] #12 closed

[2021-03-12 23:38] Ibrahimvse commented on #17
done

[2021-03-12 23:38] #17 closed

[2021-03-12 23:39] Ibrahimvse commented on #18
done

[2021-03-12 23:39] #18 closed

[2021-03-14 03:30] YuqiHuai commented on #20
I was able to reproduce the issue.

1. Drag any component into the editor
2. Zoom in using the mouse wheel until the component disappears
3. Zoom out and try to find the component added in step 1, it is reversed.

[2021-03-14 04:17] jgarci40 commented on #20
Thanks, @YuqiHuai! I can replicate the issue, as shown below.

![Screen Shot 2021-03-13 at 8 09 47 PM](https://user-images.githubusercontent.com/8866794/111057019-fc3fb280-8438-11eb-9413-4bab807786d7.png)

@Ibrahimvse @khoiminhpham Could you please look into this and see if you can fix it? I'm not sure if you have higher priority issues to resolve first.

[2021-03-14 04:25] jgarci40 opened #22 "ICSA Hadoop Experiment - Error Before Completion"
For the ICSA Hadoop experiment, I get the following error every time I try to run it.

First part of error:
![Screen Shot 2021-03-13 at 8 05 32 PM](https://user-images.githubusercontent.com/8866794/111057140-df57af00-8439-11eb-953a-7218ddb2917d.png)

Second part of error:
![Screen Shot 2021-03-13 at 8 05 50 PM](https://user-images.githubusercontent.com/8866794/111057145-e2529f80-8439-11eb-91fd-34e

[2021-03-17 02:29] khoiminhpham commented on #19
I tried in prediction branch Sempai @jgarci40, still have that hard coded output.pipe and infer.mallet files path requirement issue.
https://photos.app.goo.gl/nNp4SNjoii3qci5n7

Or would you like us to change Arcade's source code to solve that issue, cause that may sound simpler than to be solved from SAIN engine source code.

[2021-03-17 08:42] YuqiHuai opened #23 "SAIN DependencyBuilderJava Access Denied"
I included screenshot and the setup.
<img width="393" alt="Screen Shot 2021-03-17 at 4 40 26 PM" src="https://user-images.githubusercontent.com/34195403/111438880-bf790180-873f-11eb-8a64-b12029f7dc95.png">
<img width="921" alt="Screen Shot 2021-03-17 at 4 40 38 PM" src="https://user-images.githubusercontent.com/34195403/111438885-c142c500-873f-11eb-985a-a005242e2168.png">
<img width="989" alt="Scr

[2021-03-18 10:39] jgarci40 commented on #19
@khoiminhpham You're definitely not using the prediction branch.

[2021-03-19 05:30] jgarci40 commented on #23
Hi @YuqiHuai. I think it would help if you could provide the developers access to your CalculatorExample.zip file.

[2021-03-19 05:38] YuqiHuai commented on #23
[CalculatorExample.zip](https://github.com/SAIN-Project/Frontend/files/6168815/CalculatorExample.zip)
This is a zip file that does not work

[build.zip](https://github.com/SAIN-Project/Frontend/files/6168818/build.zip)
here is another zip that worked before but stopped working. Dependency builder does not seem to execute anything

[2021-03-21 02:33] khoiminhpham commented on #23
Thank you for your notification @YuqiHuai , that was my mistake, last time I fixed email verification feature, I forgot to re-run the server "as Administrators". that's where your error "access denied" came from.

It should be working properly now, please give it another try as your convenience.
https://photos.app.goo.gl/j6FDQw7Wq3P87YRz9

That CalculatorExample project looks interesting btw. Than

[2021-03-21 19:50] khoiminhpham commented on #19
Sempai @jgarci40 , I retried it several times, still got the same scenario
https://photos.app.goo.gl/aLBn3fZYJfGYGv2R6

I git clone from "https://bitbucket.org/joshuaga/arcade/src/prediction/", and use "edu.usc.softarch.arcade.clustering.BatchClusteringEngine.java", Am I possibly missing anything :(

[2021-03-21 21:39] jgarci40 commented on #23
@YuqiHuai Can you please try these inputs again when you get a chance?

[2021-03-22 03:21] YuqiHuai commented on #23
Issue fix confirmed!

[2021-03-22 03:21] #23 closed

[2021-03-25 06:30] khoiminhpham commented on #19
I've added BatchClusteringEngineSimple component. everything seems to work now except the same Cross-Origin-Request-Block issue Ibrahim is dealing - which we will deal with independently.

https://photos.app.goo.gl/BgxdHHkF9Ajj7Spy7

[2021-03-25 15:00] Ibrahimvse commented on #20
fixed

[2021-03-25 15:20] #8 closed

[2021-03-25 19:56] jgarci40 commented on #19
Thanks, @khoiminhpham!

[2021-04-07 20:13] jgarci40 opened #24 "Dependency Builder Java - No working SAIN datasets"
There appear to be no datasets in SAIN that can be readily used with the Dependency Builder Java using the feature that allows you to load datasets from the SAIN repository.

[2021-04-07 20:16] jgarci40 opened #25 "BatchClusteringEngineSimple does not work with the struts.zip dataset"
Please see the subject line.

[2021-04-07 20:16] jgarci40 opened #26 "BatchClusteringEngineSimple asks for a classpath, but it doesn’t need one"
Please see the subject line.

[2021-04-09 10:42] khoiminhpham commented on #25
I tried with the struts.zip, it seems to be working fine Sempai, it took very long time to finish (around 20 mins)

https://photos.app.goo.gl/u4tkJfh8aTTxod8UA

[2021-04-09 10:43] khoiminhpham commented on #24
You're right Sempai Josh, I just added it here, it's working fine now. Thanks,

https://photos.app.goo.gl/n4XZtgM8uFmsV8Qh8

[2021-04-09 10:43] khoiminhpham commented on #26
From prediction branch we opened last time, classpath seems to be among the required passing arguments Sempai, I'm curious about this situation as well.
https://photos.app.goo.gl/fGxMdoAQpf8aMowq5

[2021-05-03 20:17] jgarci40 opened #27 "Please add this tool on architectural decay prediction"
https://ieeexplore.ieee.org/document/9357984
https://jgarcia.ics.uci.edu/wp-content/uploads/tse_2021_arch_decay_prediction_preprint.pdf
https://github.com/jgarci40/arch-prediction-tools

[2021-05-03 20:36] jgarci40 opened #28 "Please add a history for experiments"
Could you please add a history item to the Tool Integration feature to allow us to return to experiments that we were disconnected from so that we can reconnect to experiments if we get disconnected?

[2021-05-17 20:10] jgarci40 opened #29 "InMap Replication Package from ICSA 2021"
Could one of you guys look at this tool (https://ieeexplore.ieee.org/abstract/document/9426755), called InMap and its replication package, which is available here (https://figshare.com/articles/software/InMap_Automated_Interactive_Code-to-Architecture_Recommender/13714150/2), and see if you can add it to SAIN? It would be good to include their dataset and not just the tool.

Thanks again!

[2021-07-05 18:54] khoiminhpham commented on #24
This is solved Sempai @jgarci40  , now it will be auto loaded in ready-to-run experiment (Smell Detector running with mage 1.4.45), we can download it from dataset tab.

[2021-07-05 18:56] khoiminhpham commented on #25
This is solved Sempai @jgarci40 , you can quickly re-try it in ready-to-run experiment (BatchClusteringEngine running on struts (2.3.30)).

[2021-07-05 18:58] khoiminhpham commented on #26
This is solved Sempai @jgarci40, this component starts with classcycle (JavaDepsBuilder) to extract dependencies, classpath is required by classcycle.

[2021-07-05 19:02] khoiminhpham commented on #22
This is solved Sempai @jgarci40, we can re-try it in ready-to-run experiment (ICSA 2021), it'll be time consuming in HDSM (5 mins) and Tactic RootCover (25 mins), but if we can wait until the end (around 30 mins), we'll see all expectation outputs.

ps: if you can cc Yutong to this issue it'd be helpful Sempai.

[2021-07-05 19:04] khoiminhpham commented on #19
This is solved Sempai @jgarci40, now we have BatchClusteringEngineSimple. Thanks.

[2021-08-04 19:59] jshahuci opened #30 "SAIN Login Error From Google Chrome"
While running ready-to-run experiments, we were signed out and unable to sign back into SAIN. After entering the username and password, clicking sign-in would redirect us right back to the sign-in page. When testing on other browsers there were no issues so the issue only seemed to be with Google Chrome. It might be a fixable bug or could just be a random error.

[2021-08-06 22:18] khoiminhpham commented on #30
It seems to be a back-end server non-responsive when that error happened Sempai @jgarci40, it was busy and couldn't handle more request. But I'm pretty sure it was still alive at that time, because if it's crashed I'd have received an email notification.

Let's keep track of future similar errors, for better understanding the cause. Thanks.

[2021-08-09 21:37] Sanshin-SF commented on #20
The issue may not have been fixed yet.
I was able to replicate the issue above in another way.

https://user-images.githubusercontent.com/76271316/128777712-6dfb498b-82e3-4a57-8207-5972e765fab1.mp4

1. zoom in using mouse wheel
2. zoom out using mouse wheel
3. zoom out using the zoom slider on the top right

[2021-08-09 21:42] jgarci40 commented on #20
@Ibrahimvse, could you please look into this again?

[2021-08-12 06:23] jgarci40 opened #31 "Anyone should be able to visit the About SAIN page without logging in"
The About SAIN page at http://sain.usc.edu/aboutsain should be viewable by anyone without logging in.

[2021-08-12 07:32] khoiminhpham commented on #31
I remember many months ago, we've fixed this, tested and closed the case properly (⇀‸↼‶)
Anyway I just fixed it again, and push commit to github, hopefully this issue won't appear again.
Please feel free to give it another try Sempai @jgarci40, and thank you for all the testing efforts.

[2021-08-12 07:45] jgarci40 commented on #31
Works for me now. Thanks a lot for the quick response and fix, Khoi!

[2021-08-12 07:45] #31 closed

[2021-08-16 21:17] janavshah04 commented on #30
@khoiminhpham Thanks for looking into it but it seems to be that the error still exists. SAIN works perfectly on other browsers. I tried on a different machine and the same problem occurred as long as I am using google chrome. If I try logging into SAIN on 2 machines at the same time, one of them being chrome and the other machine using another browser (ex. firefox), the one on firefox logs in jus

[2021-08-17 06:03] khoiminhpham commented on #30
Interesting, let me try to replicate it Sempai @jgarci40, If I can replicate it I'll know how to fix it. Thank you for reporting the issue.

[2021-08-27 21:50] Sanshin-SF opened #32 ""SmellAnalyzer" component not functioning"
While attempting to replicate the results on[ this paper](https://jgarcia.ics.uci.edu/wp-content/uploads/ICSA_2021___SAIN_Paper-20.pdf), I ran into a problem with the component "SmellAnalyzer" under "Utilities".

"SmellAnalyzer" would refuse to run and It just returns a message "undefined".
Please look at the short video for more details.

https://user-images.githubusercontent.com/76271316/1311934

[2021-08-28 09:31] khoiminhpham commented on #32
Thanks for reporting an issue, it should be working now, please feel free to give it another try.

![image](https://user-images.githubusercontent.com/47465932/131213356-c2cb2aa4-93a2-491a-9f3e-ea62ec5044aa.png)

[2021-08-28 10:08] Sanshin-SF commented on #32
Thank you for your quick repair.
I have tried it and it does indeed work.

[2021-08-28 10:08] #32 closed

[2021-09-13 20:38] TarandeepSingh562 opened #33 "Inability to Click URL Links Under "Sain Faqs""
While browsing under "Sain Faqs" on the main website, I found a slight issue where URLs are not clickable and have to be manually copied over to a new tab to be opened. I have attached some images to visually show the issue.

![image](https://user-images.githubusercontent.com/85138366/133151683-dff05946-6d3e-4d16-8bbe-17a52eca3257.png)
![image](https://user-images.githubusercontent.com/85138366/13

[2021-09-13 20:44] TarandeepSingh562 opened #34 "Rename of "Sain Faqs""
I believe "Sain Faqs" should be renamed to "SAIN FAQ".

![image](https://user-images.githubusercontent.com/85138366/133153686-f6f66150-77e8-4111-9dd0-3092974aa03f.png)

[2021-09-22 01:23] TarandeepSingh562 commented on #10
Completed for enhancement.  Full name, email, phone, university, job title, website, bibliography, avatar, and contact button has been added to account page.

[2021-09-22 02:53] TarandeepSingh562 commented on #22
The bug seems to be fixed. Ran and tested ICSA 2021 experiment a couple of times. Took about 1 hour and 45 minutes to complete each time and found no errors when doing so. However, I should note that the sample ICSA 2021 experiment results from the main website were not the same as the results as the written ICSA 2021 research paper. Some of the values in the .csv were the same as the rank of each

[2021-09-22 02:54] jgarci40 commented on #10
Thanks, @TarandeepSingh562! Thanks as well, @khoiminhpham and @Ibrahimvse! I'm closing this issue.

[2021-09-22 02:54] #10 closed

[2021-09-22 02:57] jgarci40 commented on #22
Hi @TarandeepSingh562. This appears to be an issue resulting from the fact that the paper experiments use Understand, a proprietary piece of software to extract facts from Hadoop, which we can't release on SAIN. We have to use open-source software, at least for now. I'll reach out to @TarandeepSingh562, @khoiminhpham, Yutong, and Lu over Slack to decide whether it's OK to close this issue.

[2021-09-22 15:45] TarandeepSingh562 commented on #20
Update: The bug seems to still happen when using the mouse wheel with the zoom slider. The SAIN editor does not seem to flip when only using mouse wheel to zoom in and out. This bug only seems to happen when both mouse wheel and zoom slider actions are applied.
![image](https://user-images.githubusercontent.com/85138366/134374870-c776ce4a-11ee-4029-80db-a565c4708ad1.png)

[2021-09-22 21:15] jgarci40 commented on #20
Hi @Ibrahimvse. Just want to make sure you get @TarandeepSingh562's update about this, so I'm tagging you.

[2021-09-23 01:09] TarandeepSingh562 commented on #25
This may not be completely fixed yet. I ran it through "Ready to Run Experiments Samples" multiple times, and I received an error each time: "process SmellEvolutionAnalyzer exited with error::undefined". I've also attached an image to display the error I'm receiving.
![image](https://user-images.githubusercontent.com/85138366/134440120-88395bfe-cf2f-44d0-90c7-967f2cc99071.png)

[2021-09-23 06:37] TarandeepSingh562 commented on #24
The bug seems to be solved. Ran the ready-to-run experiment a couple of times with no errors and it took about 30 seconds each time to download from the dataset tab.

[2021-09-23 09:12] jgarci40 commented on #24
Thanks, @TarandeepSingh562 and @khoiminhpham. Closing this issue...

[2021-09-23 09:12] #24 closed

[2021-09-23 09:34] jgarci40 commented on #25
@khoiminhpham, would you be able to look at this please?

[2021-09-25 02:53] TarandeepSingh562 commented on #19
BatchClusteringEngineSimple seems to be added and functioning as intended through the main website. I had no issues when running the tool multiple times.

[2021-09-27 21:30] TarandeepSingh562 opened #35 "Connection Error to SAIN's Main Website"
When attempting to replicate/test [issue30](https://github.com/SAIN-Project/Frontend/issues/30), I ran into some connection errors to the main website. This error seems to be IP related since I can't connect to the main website from all my computers (tried 3 different computers). I have attached images of the error in the chat below.

![image](https://user-images.githubusercontent.com/85138366/134

[2021-09-28 20:31] jgarci40 commented on #35
Hi @Ibrahimvse and @khoiminhpham. Could you both please look into this?

[2021-10-01 23:02] TarandeepSingh562 opened #36 "Server Downtime Issue"
The server for SAIN's main website has been down for a couple of days, and I have not been able to access any tools of SAIN. I believe that further down the road this may cause a problem to many people who are going to be using SAIN. So, for an enhancement, there could be a better, more reliable server solution that does not keep the entirety of SAIN down for days.

The server down message I recei

[2021-10-15 19:34] jgarci40 opened #37 "Add SAIN Frontend Issue tracker link to SAIN website"
See title

[2021-12-22 18:33] a-shokri opened #38 "Add "Back to Main" button to the "editor" page"
When you are in the tool integration page, there is no back button that navigates you to the main page.

[2021-12-22 18:50] mfazelnia opened #39 "Fix the magnifier tool"
The magnifier on the tool integration page does not work correctly.

[2021-12-22 18:50] jgarci40 opened #40 "Server went down during SAIN school dry run on Dec. 22, 2021"
We need to determine why this happened so it doesn't happen during the real school session.

[2021-12-22 19:00] Codegass opened #41 "Time Selector Format Error"
The time selector in the components (like HSDM and Bug Space) will follow the local computer setting's format.
For example: my computer is year-month-date.
This format will be kept in the final command when running the script.
So this raises the issue as followed:
[code]
Because the default parser for the date time in all the scripts are date-month-year.

[2021-12-22 19:08] TarandeepSingh562 opened #42 "'SAIN Faqs' Link Issues"
The links listed below 'Sain Frequently Asked Questions' are not accessible and need updating. Also, as a suggestion, these links might be better as hyperlinks for a better/easier experience. I've shown an example of one of the links that does not work down below. Thanks.

![image](https://user-images.githubusercontent.com/85138366/147142536-09bcfcf8-8af3-47cb-8596-48b6136a0f1e.png)

[2021-12-22 19:22] a-shokri opened #43 "Parsing time error"
When I run the tool integration, I receive the following error:
Error in parsing time: 2000-01-01 in edu.drexe.cs.rise.DesignSpace.util.DateFormat

Reproducibility: I put 01/01/2000 as start date for Bug Space component. It seems that the same exception has been thrown for all the date fields I filled out in Hdsm and Bug Space tools.

[2021-12-22 19:23] jgarci40 opened #44 "SDSM, HDSM, Bug Space, and Root Cover - Fails When A Certain Number of Concurrent Users Run"
May be a concurrent upload issue, but this should be fixed

[2021-12-22 19:25] jgarci40 commented on #39
@mfazelnia, could you please elaborate?

[2021-12-22 19:42] Sanshin-SF commented on #20
I think this is causing the UI to flip.

The value for "scale" determines the scale of the UI we see.
The zoom slider simply adds or substracts 0.1 to this value max.
and the mouse wheel adds or substracts (current scale * 0.1) to this value.

When we zoom out with our mouse to lower the zoom scale and slide the zoom slider to zoom out, the "scale" value goes to a negative value which causes the U

[2021-12-22 19:43] jgarci40 opened #45 "Create Automated Tests that Check for Known SAIN Bugs"
This would be good for preventing regressions and ensuring bugs are really removed. It would also help to reduce the need to have many concurrent human users to do testing.

[2021-12-22 19:44] jgarci40 commented on #39
OK, instead of zooming, it scrolls...

[2022-02-15 22:43] TarandeepSingh562 commented on #20
I'm having the same problem after zooming in/out; it seems to randomly flip the interface.
![image](https://user-images.githubusercontent.com/85138366/154162322-e3e0930c-a1d3-4ff6-8872-ef023b501aeb.png)

[2022-02-15 22:54] TarandeepSingh562 commented on #25
BatchClusteringEngineSimple seems to be working fine with the struts.zip dataset now. The run time was around 3 minutes, and I received no more errors.

![image](https://user-images.githubusercontent.com/85138366/154162995-d58973d1-1568-4496-a304-522a8465b6d7.png)

[2022-02-15 23:08] jgarci40 commented on #25
Thanks, @khoiminhpham @TarandeepSingh562 ! Closing this issue.

[2022-02-15 23:08] #25 closed

[2022-02-16 16:54] TarandeepSingh562 commented on #30
This bug seems to be fixed now -- I tested it by using google chrome on multiple devices. Thanks @khoiminhpham.

[2022-02-16 16:58] TarandeepSingh562 commented on #35
Alongside issue https://github.com/SAIN-Project/Frontend/issues/30, this issue also seems to be solved. The main website (http://www.sain.info/aboutsain) seems to be working as intended.

[2022-02-16 17:10] TarandeepSingh562 commented on #39
This issue is solved. The magnifier tool on the 'Tool Integration' tab is working correctly now. It zooms in/out instead of scrolling.

[2022-02-16 21:44] jgarci40 commented on #39
Thanks, @TarandeepSingh562 ! Closing.

[2022-02-16 21:44] #39 closed

[2022-02-16 21:44] jgarci40 commented on #35
Thanks, @TarandeepSingh562 , @Ibrahimvse , @khoiminhpham
Closing...

[2022-02-16 21:44] #35 closed

[2022-02-16 21:47] jgarci40 commented on #30
Thanks, @TarandeepSingh562 and @khoiminhpham
Closing

[2022-02-16 21:47] #30 closed

[2022-02-16 22:01] jgarci40 commented on #20
@Ibrahimvse @khoiminhpham Could you please work on fixing this?

@MehdiMirakhorli I just want to make sure you are aware of this bug still existing in SAIN.

[2022-02-17 08:11] rsatrioadi opened #47 "Dependency management"
We developed some tools that we wanted to upload to SAIN (and we did). They were written on Python and require some dependency that are usually installed through `pip`. Those dependencies were not installed in SAIN's execution environment and in order to make them work I had to do the following kind of hack:

[code]

This could be a security issue if the tools are not executed in a sandboxed envir

[2022-02-17 08:14] rsatrioadi opened #48 "Error pulling docker image"
I tried to do a `docker run -d -p 80:80 ibrahimidn/sain:latest` and got `Error response from daemon: manifest for ibrahimidn/sain:latest not found: manifest unknown: manifest unknown`.

[2022-02-21 03:41] jgarci40 commented on #15
@khoiminhpham @Ibrahimvse @MehdiMirakhorli Whatever happened to this issue guys? :)

[2022-02-21 06:37] khoiminhpham commented on #15
Doesn't look like any one of us have solved this yet :D
Leave it to me Sempai Josh, tmr I'll have a look at it.

Best,

On Sun, Feb 20, 2022 at 7:41 PM Joshua Garcia ***@***.***>
wrote:

[2022-02-21 07:40] jgarci40 commented on #15
Thanks, Khoi!

Josh

On Sun, Feb 20, 2022, 10:37 PM khoiminhpham ***@***.***>
wrote:

[2022-02-23 07:51] jgarci40 commented on #15
Hi Khoi,

Could I please get an update on this issue?

Thanks,
Josh

On Sun, Feb 20, 2022 at 11:40 PM Joshua Garcia ***@***.***> wrote:

[2022-02-23 23:04] khoiminhpham commented on #15
Hi Sempai Josh,

I've added projects in your 1st link to SAIN datasets, (only thing missing is bash 1.14.4, src code, I can't find it).
In your 2nd link, the projects don't have specific version, I'd need to know what version they are. Also I can see Bash and ArchStudio appear again, should we add new dataset or should we merge them with the recently uploaded bash 1.14.4 and ArchStudio 4 datasets?

[2022-02-24 00:31] jgarci40 commented on #15
Here's the source for Bash 1.14.4:
https://www.ibiblio.org/pub/Linux/system/shells/!INDEX.short.html
Here's a direct link to the source too:
https://www.ibiblio.org/pub/Linux/system/shells/bash-1.14.4.tgz

For the second link, the version info can be found in this paper:
https://jgarcia.ics.uci.edu//wp-content/uploads/lutellier_tse_2017.pdf

If you have a hard time getting hold of the source or ot

[2022-02-24 08:14] khoiminhpham commented on #15
Thank you Sempai Josh, I've uploaded all of them, last thing is, in the paper and in your 1st link we both have ArchStudio 4. Should I put those files together in one datasets, or do you want to separate them?

Thanks,

[2022-02-24 20:22] jgarci40 commented on #15
What kind of files do you intend to combine together? If you mean the
ground-truth architecture and source for ArchStudio 4, you can combine
them. Isn't that what you've been doing for other projects already?

On Thu, Feb 24, 2022 at 12:15 AM khoiminhpham ***@***.***>
wrote:

[2022-02-24 21:13] khoiminhpham commented on #15
These files
https://user-images.githubusercontent.com/47465932/155608859-fa22e381-a44f-44c5-8ae3-f31be9923574.JPG
and these files
https://user-images.githubusercontent.com/47465932/155608862-191e577a-28c9-4156-8013-9ccfb9caf025.png
I can see the rsf files are identical, should we keep them all under one dataset Sempai ?

Thanks,

[2022-02-24 21:30] jgarci40 commented on #15
Sure. That works. @khoiminhpham

[2022-02-24 21:33] jgarci40 commented on #48
@Ibrahimvse @khoiminhpham Hi guys, can I please get a status update on this?

[2022-02-24 22:28] khoiminhpham commented on #15
Alright, everything is done Sempai Josh.

Best,

[2022-02-24 23:53] TarandeepSingh562 opened #49 "Saving Workflows and Sharing within SAIN"
Hi,

This post is to keep track of a feature that is currently being worked on/finalized, which is the saving of workflows and the ability to share them with other SAIN users.  Within SAIN's tool integration page, there is a way to save workflows, however, I believe there is not a way to share them with other SAN users yet.

The first part works well as shown in images down below.
![image](https:/

[2022-02-25 00:40] jgarci40 commented on #15
Hi Taran,

Could you please test this out? You should be able to run an architecture
recovery (e.g., ACDC or BatchClusteringEngine, which is actually called
ARC, from the Architecture Reconstruction pane) on any of these systems
that Khoi added and then use a2a*, c2c*, or cvg* (available in the
Architectural Analysis and Metrics pane) to compare the recovered
architecture with the ground-truth arc

[2022-02-25 00:47] jgarci40 commented on #49
@khoiminhpham @Ibrahimvse Hi Guys. Is there a way to share user-created workflows between users from within SAIN yet? If not, are either of you guys working on it?

@TarandeepSingh562 I'm tagging you to make sure you are kept updated on this issue.

[2022-02-25 01:57] khoiminhpham commented on #49
Hi team,

The "save ready-to-run sample" will make it available for everybody to try it in "ready-to-run sample" list, you (or other users) can simply open the sample you recently saved and run it.

Thanks,

On Thu, Feb 24, 2022, 4:47 PM Joshua Garcia ***@***.***>
wrote:

[2022-02-25 02:04] jgarci40 commented on #15
I'm afraid the source code (in each project) I uploaded in those datasets aren't ready to run with acdc/batchclustering component, Sempai Josh.
At least I'll need to generate jar files from those src code and add those jar files in the dataset too.

Thanks,

On Thu, Feb 24, 2022, 4:40 PM Joshua Garcia ***@***.***> wrote:

[2022-02-25 03:09] jgarci40 commented on #15
@Khoi Pham ***@***.***>, I see. I know building some of these
projects can be a pain. Crista has some technology that is supposed to
simplify this for Java systems because the Gradle and Maven build files
don't necessarily work well for open-source projects. I have a student, @Yuqi
Huai ***@***.***>, that is working with one of Crista's students on her
build tool. Maybe, we should incorporate it i

[2022-02-25 03:10] jgarci40 commented on #49
Thanks for the info, @khoiminhpham. @TarandeepSingh562, could you please try out those two features together?

[2022-02-25 03:33] jgarci40 commented on #15
Hi Dr. Garcia,

I am open to having a meeting about this issue to resolve it, and I would
be interested to see how to do it for at least one of the ground-truth
datasets. Thanks.

Tarandeep

On Thu, Feb 24, 2022 at 7:10 PM Joshua Garcia ***@***.***> wrote:

[2022-02-25 03:35] TarandeepSingh562 commented on #49
Thanks for the clarification @khoiminhpham. Yes, in this case, both features are working correctly as intended.

[2022-02-25 03:40] jgarci40 commented on #49
Thanks, @TarandeepSingh562 and @khoiminhpham. I'm closing this issue.

[2022-02-25 03:40] #49 closed

[2022-02-25 03:54] jgarci40 commented on #15
I'll send a separate message to you, @Tarandeep Singh ***@***.***>,
and Khoi to set up a time.

Thanks,
Josh

On Thu, Feb 24, 2022 at 7:34 PM Tarandeep Singh ***@***.***> wrote:

[2022-02-25 23:04] jgarci40 commented on #15
Hi all!

I think adding the tool to SAIN can be helpful. From what I have learned
the tool will provide a large collection of compilable Java projects. The
idea is we can run further analysis on those compiled Java projects.

I asked Rakib to compile a small number of repositories for me, so far
those repositories haven't been able to be compiled. I am not exactly sure
why therefore I need more ti

[2022-02-26 00:05] jgarci40 commented on #15
Thanks a lot for the input, Yuqi!

Josh

On Fri, Feb 25, 2022 at 3:04 PM Yuqi Huai ***@***.***> wrote:

[2022-03-01 18:13] jgarci40 opened #50 "Add tool(s) to SAIN that makes source work with Dependency Builder and BatchClusteringEngine*"

[2022-03-02 08:24] khoiminhpham commented on #48
I've never tried this feature Sempai Josh.
@Ibrahimvse can you please have a look at this issue. Thanks

[2022-03-10 03:54] #36 closed

[2022-03-25 07:52] jgarci40 commented on #48
Hi @Ibrahimvse ,

Sunny Wong, Yuanfang's first, or at least an early, graduated Ph.D. student, tried the updates to the Docker Container and wasn't able to get it to fully work:

Can you please look into this?

Thanks,
Josh

[2022-03-30 20:08] jgarci40 opened #52 "Mage and Struts"
Hi @khoiminhpham and @Ibrahimvse,

A couple of issues we noticed in preparation for the SAIN School next week:
1. The Mage dataset is not available to choose from on SAIN. It's not on the pages where you can browse or search for datasets, and it's thus not selectable from Tool Integration.
2. I tried to recreate the ready-to-run Mage experiment, except with Struts instead of Mage, but there is an

[2022-03-30 20:09] #40 closed

[2022-03-30 20:10] jgarci40 commented on #41
@khoiminhpham @Ibrahimvse What's the status of this one guys?
@TarandeepSingh562

[2022-03-30 20:10] jgarci40 commented on #42
@khoiminhpham @Ibrahimvse What's the status of this, guys?
@TarandeepSingh562

[2022-03-30 20:11] jgarci40 commented on #43
@khoiminhpham @Ibrahimvse What's the status of this one, guys?
@TarandeepSingh562

[2022-03-30 20:12] jgarci40 commented on #20
@khoiminhpham @Ibrahimvse What's the status of this, guys?
@TarandeepSingh562

[2022-03-30 20:14] jgarci40 commented on #33
@khoiminhpham @Ibrahimvse What's the status of this, guys?
@TarandeepSingh562

[2022-03-30 20:14] jgarci40 commented on #34
@khoiminhpham @Ibrahimvse What's the status of this, guys?
@TarandeepSingh562

[2022-03-30 20:38] Ibrahimvse commented on #33
fixed

[2022-03-30 20:38] #33 closed

[2022-03-30 22:45] Ibrahimvse commented on #52
Hi Joshua,
I reuploaded mage project to the datasets.
The second point you selected struts which is multiple versions of struts project. The Dependency builder tool work only on single project so you need to select struts-2.5.8.zip from that dataset. If you want to run multiple versions you need to use AcdcWithSmellDetection which is alternative of all those three tools( dependency builder,acdc, a

[2022-03-30 22:45] #52 closed

[2022-03-31 00:01] Ibrahimvse commented on #38
Hi Ali,
In tool Integration->File menu there is an exist button when you click on it it close the editor and take you back to the main page.

[2022-03-31 00:06] Ibrahimvse commented on #48
Hi Sunny,

The Sain Docker Container is only for backend so you still need the sain front end "www.sain.info" to run your experiments on your local docker container of sain . To run Docker you need to go to Tools->Tool Integration->Server-> local and specify the port and click on connect.
![image](https://user-images.githubusercontent.com/62664749/160950508-2e979253-a4ae-4ba1-99dc-79a15cb09a65.png

[2022-03-31 00:19] Ibrahimvse commented on #34
fixed

[2022-03-31 00:19] Ibrahimvse commented on #41
could not replicate the issue. every thing work fine
![image](https://user-images.githubusercontent.com/62664749/160951504-c228907a-527a-431c-94d6-d41263ab9b09.png)

![image](https://user-images.githubusercontent.com/62664749/160951614-19237978-57c7-471d-85ba-d9a8326c9131.png)

[2022-03-31 00:19] #41 closed

[2022-03-31 00:22] Ibrahimvse commented on #50
They already added!!
![image](https://user-images.githubusercontent.com/62664749/160951775-63d68c87-dd1f-45f2-8a71-80c96e5462c4.png)

![image](https://user-images.githubusercontent.com/62664749/160951912-f604e878-e6f7-45a4-a73d-e5d528bab153.png)

[2022-03-31 00:23] #44 closed

[2022-03-31 00:24] Ibrahimvse commented on #42
fixed

[2022-03-31 00:24] #42 closed

[2022-03-31 00:31] Ibrahimvse commented on #19
solved

[2022-03-31 00:31] #19 closed

[2022-03-31 00:33] Ibrahimvse commented on #43
Could not replicate the error. The date is entered with date packer so no error suppose to be produced!

[2022-03-31 00:33] #43 closed

[2022-03-31 03:47] khoiminhpham commented on #41
I fixed this in one occasion, just a different date time format between angular form and SDSM input.

[2022-03-31 03:51] khoiminhpham commented on #44
if this error was recorded from last time dry run, it was because ngrok limited 60 connections/minute. Now we won't have that limitation.

[2022-03-31 03:53] khoiminhpham commented on #43
same thing with issue $41 - solved

[2022-03-31 03:58] khoiminhpham commented on #40
This was not server down.
It was because of me, my RIT account was deactivated a day before that. So on that day I had to use Ibrahim's account to remote access and run my back-end auto-start bash. That caused unauthorized activity whenever back-end service tried to make any changes to the machine.
The issue was solved the day after.

[2022-03-31 04:01] Ibrahimvse commented on #20
fixed

[2022-03-31 04:01] #20 closed

[2022-03-31 04:13] khoiminhpham commented on #33
![image](https://user-images.githubusercontent.com/47465932/160974971-42345830-e871-4801-9f6a-09e2e9647b40.png)

It's still showing html to me, you may want to double check this Ibrahim. Thanks,

[2022-03-31 04:15] Ibrahimvse commented on #33
![image](https://user-images.githubusercontent.com/62664749/160975283-659af689-761d-4257-b173-234fcc69938e.png)

[2022-03-31 04:16] Ibrahimvse commented on #33
Khoi I think you need to clear your browser cache

[2022-03-31 04:17] khoiminhpham commented on #33
Could be my browser, thanks for your verification, Ibrahim.

[2022-04-04 00:55] #26 closed